altgraph==0.16.1
argon2==0.1.10
asn1crypto==0.24.0
cached-property==1.5.1
cffi==1.12.3
chardet==3.0.4
coloredlogs==10.0
cryptography==39.0.1
deb-pkg-tools==5.2
executor==21.3
fasteners==0.15
future==0.17.1
humanfriendly==4.18
macholib==1.11
monotonic==1.5
pbr==5.4.1
pefile==2019.4.18
pexpect==4.7.0
pip-accel==0.43
pkginfo==1.5.0.1
property-manager==2.3.1
ptyprocess==0.6.0
pycparser==2.19
PyInstaller==3.4
PyQt5==5.13.0
PyQt5-sip==4.19.18
python-debian==0.1.35
python-memcached==1.59
six==1.12.0
tendo==0.2.15
verboselogs==1.7
